header,
footer {
  color: black;
  background-color: white;
}

header {
  padding: var(--marginSmall);
  height: 50px;
  font-size: var(--fontsizeMega);
}

footer {
  display: flex;
  justify-content: space-around;
  margin-left: -1.2rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -.1rem 1rem black;
  padding: 2rem 0;
}

p {
  padding-left: var(--marginSmall);
}

.hidden {
  display: none;
}

.wrap {
  display: flex;
}

.dashboard__home--content,
.dashboard__pets--content,
.dashboard__events--content,
.wrap {
  justify-content: space-between;
}

.dashboard__home--content .wrap {
  margin-top: var(--marginMedium);
}

.center {
  text-align: center;
}

.center__wrap {
  align-items: center;
}

.centerd {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.centerd:nth-child(1) {
  justify-self: flex-start;
}

.profile,
.search {
  width: 35px;
}

.dashboard {
  padding: var(--marginSmall);
}

.section__title {
  font-size: var(--fontsizeBig);
}

.dashboard__home--header,
.list__home--pets,
.list__pets--pets,
.list__events--events,
.dashboard__home--pets {
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: var(--marginSmall);
  column-gap: var(--marginSmall);
  text-align: center;
  margin: 0 auto;
}

.dashboard__home--green {
  grid-area: span 2;
  background-color: #61cb96;
  height: 105px;
  border-radius: 4px;
}

.dashboard__home--red {
  grid-area: 1 / 2 span 2;
  background-color: #ed7a84;
}

.dashboard__home--orange {
  grid-area: 2 / 2 / span 2;
  background-color: #ed8052;
}

.dashboard__home--yellow {
  grid-area: 1 / 3 / 2 / 3;
  background-color: #f7c75f;
}

.dashboard__home--blue {
  grid-area: 2 / 3 / 2 / 4;
  background-color: #70cbd3;
}

.dashboard__home--red,
.dashboard__home--orange,
.dashboard__home--yellow,
.dashboard__home--blue {
  height: 4.8rem;
  border-radius: .4rem;
}

.dashboard__pets--header,
.dashboard__pets--pets {
  color: white;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  row-gap: var(--marginSmall);
  column-gap: var(--marginSmall);
  text-align: center;
  margin: 0 auto;
}

.dashbboard__pets--green {
  grid-area: 1 / 1 / 2 / 3;
  background-color: #61cb96;
}

.dashboard__pets--red {
  grid-area: 1 / 3 / 2 / 5;
  background-color: #ed7a84;
}

.dashboard__pets--yellow {
  grid-area: 1 / 5 / 2 / 7;
  background-color: #f7c75f;
}

.dashboard__pets--yellow,
.dashboard__pets--red,
.dashbboard__pets--green {
  height: 52.5px;
  border-radius: 4px;
}

.dashboard__events--header,
.dashboard__events--events {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: var(--marginSmall);
  column-gap: var(--marginSmall);
  text-align: center;
  margin: 0 auto;
}

.dashboard__events--green {
  grid-area: 1 / 1 / 2 / 2;
  background-color: #61cb96;
}

.dashboard__events--blue {
  grid-area: 2 / 1 / 3 / 2;
  background-color: #70cbd3;

}

.dashboard__events--red {
  grid-area: 1 / 2 / 2 / 3;
  background-color: #ed7a84;
}

.dashboard__events--yellow {
  grid-area: 2 / 2 / 3 / 3;
  background-color: #f7c75f;
}

.dashboard__events--orange {
  grid-area: 1 / 3 / 2 / 4;
  background-color: #ed8052;
}

.dashboard__events--purple {
  grid-area: 2 / 3 / 3 / 4;
  background-color: #dbb2ff;
}

.right {
  float: right;
  color: #61cb96;
}

.link__wrapper {
  background-color: #61cb96;
  display: flex;
  flex-flow: column;
  align-items: center;
  color: white;
  text-decoration: none;
  padding: var(--marginSmall);
  border-radius: 4px;
}

.dashboard__item {
  color: white;
}

.list__item {
  color: black;
}

.list__item, .dashboard__item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.link__wrapper--events {
  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
}

.home-events-image {
  width: 100%;
}

.home-events-info {
  font-size: var(--fontsizeMini);
  display: flex;
  flex-flow: column;
}

.home-events-info:nth-child(1) {
  font-size: 3rem;
}

.pets {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 2fr);
  row-gap: var(--marginSmall);
  column-gap: var(--marginSmall);

}

.viewall {
  color: #61cb96;
}
