header,
footer {
  color: black;
  background-color: white;
}

header {
  padding: var(--marginMedium);
  height: 50px;
  font-size: var(--fontsizeMega);
}

footer {
  display: flex;
  justify-content: space-around;
  margin-left: -1.2rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -.1rem 1rem black;
  padding: 2rem 0;
}

.hidden {
  display: none;
  justify-content: space-between;
}

.wrap {
  display: flex;
}

.center {
  text-align: center;
}

.center__wrap {
  align-items: center;
}

.centerd {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.centerd:nth-child(1) {
  justify-self: flex-start;
}

.profile,
.search {
  width: 35px;
}

.dashboard {
  padding: var(--marginMedium);
}

.dashboard__home--header, .dashboard__home--pets {
  color: white;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 7px;
  grid-row-gap: 9px;
  text-align: center;
  margin: 0 auto;
}

.green {
  grid-area: 1 / 1 / 3 / 3;
  background-color: #61cb96;
  height: 105px;
  border-radius: 4px;

}

.red {
  grid-area: 1 / 3 / 2 / 5;
  background-color: #ed7a84;
  height: 48px;
  border-radius: 4px;
}

.orange {
  grid-area: 2 / 3 / 3 / 5;
  background-color: #ed8052;
  height: 48px;
  border-radius: 4px;
}

.yellow {
  grid-area: 1 / 5 / 2 / 7;
  background-color: #f7c75f;
  height: 48px;
  border-radius: 4px;
}

.blue {
  grid-area: 2 / 5 / 3 / 7;
  background-color: #70cbd3;
  height: 48px;
  border-radius: 4px;
}

.right {
  float: right;
  color: #61cb96;
}

.dashboard__item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}

.pets {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 2fr);
  grid-column-gap: 7px;
  grid-row-gap: 11px;

}

.div1 {
  grid-area: 1 / 1 / 2 / 3;
  height: 122px;
  color: black;
}

.div2 {
  grid-area: 1 / 3 / 2 / 5;
  height: 122px;
  color: black;
}

.div3 {
  grid-area: 1 / 5 / 2 / 7;
  height: 122px;
  color: black;
}

.div4 {
  grid-area: 2 / 1 / 3 / 3;
  height: 122px;
  color: black;
}

.div5 {
  grid-area: 2 / 3 / 3 / 5;
  height: 122px;
  color: black;
}

.div6 {
  grid-area: 2 / 5 / 3 / 7;
  height: 122px;
  color: black;
}

.viewall {
  color: #61cb96;
}
