:root {
  /* Colors */
  --backgroundColor: #f9d2cb;
  --textColor: #212121;
  --secondarytextColor: #9c9c9c;
  --accentColor: #a3f4dc;

  /* Fontsizes */
  --fontsizeMini: 12px;
  --fontsizeSmall: 14px;
  --fontsizeMedium: 16px;
  --fontsizeBig: 18px;
  --fontsizeMega: 24px;

  /* Margins */
  --marginSmall: 7px;
  --marginMedium: 25px;
  --marginBig: 30px;

  /* Custom media queries */

  /* Fonts */

}
